* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
}
 /* Scroll up */
 
 /*  */
  .animation-area {
	background: url("background.jpeg"), no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
	text-align: center;
	font-size: 50px;
	margin-top: 20%;
}
@font-face {
	font-family: neon;
	src: url(hellodenverdisplayregular_v1.6.ttf);
}
.tittle {
	font-family: neon;
	font-size: 90px;
	font-size: #ffd8d8;
	text-shadow: 
	.1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
	.1vw 0vw   0vw #FF5000, .2vw 0vw   0vw #FF5000, .4vw 0vw   0vw #FF5000,
	.1vw 0vw  .1vw #FF5000, .2vw 0vw  .1vw #FF5000, .4vw 0vw  .1vw #FF5000,
	.1vw 0vw   2vw #FF5000, .2vw 0vw   2vw #FF5000, .4vw 0vw   2vw #FF5000, 
	.1vw 0vw   1vw #f87031, .2vw 0vw   1vw #f87031, .4vw 0vw   5vw #f87031, 
	.1vw 0vw   5vw #f87031, .2vw 0vw  20vw #f87031, .4vw 0vw  10vw #f87031,
	.1vw 0vw  10vw #f87031, .2vw 0vw  30vw #f87031, .4vw 0vw  10vw #f87031;
  }
.subtittle {
	font-family: neon;
	font-size: 50px;
	font-size: #ffd8d8;
	text-shadow: 
	.1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
	.1vw 0vw   0vw #FF5000, .2vw 0vw   0vw #FF5000, .4vw 0vw   0vw #FF5000,
	.1vw 0vw  .1vw #FF5000, .2vw 0vw  .1vw #FF5000, .4vw 0vw  .1vw #FF5000,
	.1vw 0vw   2vw #FF5000, .2vw 0vw   2vw #FF5000, .4vw 0vw   2vw #FF5000, 
	.1vw 0vw   1vw #f87031, .2vw 0vw   1vw #f87031, .4vw 0vw   5vw #f87031, 
	.1vw 0vw   5vw #f87031, .2vw 0vw  20vw #f87031, .4vw 0vw  10vw #f87031,
	.1vw 0vw  10vw #f87031, .2vw 0vw  30vw #f87031, .4vw 0vw  10vw #f87031;
  }

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: white;
  }
.header a span {
	color: #FF5000;
}
  a {
	color: rgb(255, 255, 255);
  }
  
  /* header */
  
  .header {
	background-color: rgba(14, 14, 14, 0.9);
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	z-index: 3;
  }
  .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: rgba(14, 14, 14, 0.9);
  }
  
  .header li a {
	font-family: "Roboto", sans-serif;
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #000000;
	text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
	background-color:  #FF5000;
  }
  
  .header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: rgb(255, 255, 255);
	display: block;
	height: 2px;
	position: relative;
	transition: .2s ease-out;
	width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: rgb(255, 255, 255);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
	.header li {
	  float: left;
	}
	.header li a {
	  padding: 20px 30px;
	}
	.header .menu {
	  clear: none;
	  float: right;
	  max-height: none;
	}
	.header .menu-icon {
	  display: none;
	}
  }
/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*  */
section{
    padding: 100px 0;
}
footer {
    padding: 10rem;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about {
  background: #000000;
}
.about, .contact{
    font-family: 'Roboto', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.max-width > h2 i {
    font-size: 3.5rem;
    color: #FF5000;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #FF5000;
    padding: 0 5px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}
.about .title::after {
	font-family: "Roboto",sans-serif;
	color: #FF5000;
    content: "Introduction";
}
 .column-left img {
    object-fit: cover;
    border-radius: 1.5rem;
}
 .column-right{
    width: 55%;
    opacity: 0;
}
 .column-right{
    opacity: 1;
}
 .column-right .about-max-width{
    max-width: 500px;
}
 .column-right .introduction{
    line-height: 2rem;
    color: gray;
    font-size: .95rem;
}
 .column-right .text{
	color: white;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
 .column-right p{
    text-align: justify;
}
/* contact */
.contact {
  background: #000000;
}
.contact .title::after{
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #FF5000;
  padding: 0 5px;
  background: rgb(0, 0, 0);
  transform: translateX(-50%);
}
.contact .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: rgb(255, 255, 255);
  transform: translateX(-50%);
}
.contact .title::after{
  content: "Get in touch";
}
.contact .contact-content .column{
  width: calc(50% - 30px);
}
.contact .contact-content .text{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
  color: rgb(126, 126, 126);
  text-align: justify;
}
.contact .contact-content .left i{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: #FF5000;
}
.contact .contact-content .info .head{
  color: white;
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
  color: rgb(126, 126, 126);
}
.contact .right form .fields{
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid rgb(95, 67, 67);
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
  padding-left: 40px;
}
input:focus, textarea:focus {
  border: 1px solid #FF5000 !important;
}
input:focus::placeholder, textarea:focus::placeholder {
  transition: all .3s ease;
  color: #FF5000;
}
input:focus + .fas,input:focus + .fab, textarea:focus + .fas {
  transition: all .3s ease;
  color: #FF5000;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
padding-top: 10px;
resize: none;
}
.contact .right form .button-area{
display: flex;
align-items: center;
}
.right form .button-area button{
color: #fff;
display: block;
width: max-content;
height: 50px;
outline: none;
font-size: 18px;
font-weight: 500;
border-radius: 6px;
cursor: pointer;
flex-wrap: nowrap;
background: #FF5000;
border: 2px solid #FF5000;
transition: all 0.3s ease;
}
.right form .button-area .message-btn{
  display: flex;
  justify-content: center;
  padding: 0 15px
}
.right form .button-area .message-btn i{
  margin-left: 5px;
}
.right form .button-area button:hover{
color: #FF5000;
background: none;
}
.field.name i, .field.email i, .field.subject i, textarea ~ i {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 15px;
  padding-left: 15px;
}
/* line */
hr .one {
  border: none;
  height: 1px;
  background: #000000;
}
hr .two {
  border: none;
  height: 1px;
  background: #000000;
}
/*  */
/* footer */
footer{
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}
footer span a{
  color: #FF5000;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img{
      height: 350px;
      width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }
}
@media (max-width: 947px){
  .menu-btn{
      display: block;
      z-index: 999;
  }
  .menu-btn i.active:before{
      content: "\f00d";
  }
  .navbar .menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  .navbar .menu.active{
      left: 0;
  }
  .navbar .menu li{
      display: block;
  }
  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }
  .home .home-content .text-2{
      font-size: 70px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .max-width{
      max-width: 930px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }
  .services .serv-content .card{
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 35px;
  }
  .nav-footer {
      flex-direction: column;
      margin-bottom: 2rem;
  }
  #icons {
      flex-direction: row;
      justify-content: flex-start;
  }
  ul.nav-footer {
      padding: 0 !important;
  }
  #icons {
      margin-left: -2rem;
  }
  .social-media-and-author {
      align-items: flex-start;
  }
}

@media (max-width: 690px) {
  .social-media { 
      right: 24.5px;
  }
  .max-width{
      padding: 0 23px;
  }
}
@media (max-width: 480px) { 
  .home .home-content .text-2{
      font-size: 2.5rem !important;
  }
  .home .home-content a{
      padding: 12px 1rem;
}}
@media (max-width: 500px) {
  .home .home-content .text-2{
      font-size: 50px;
  }
}
.nav-footer {
  display: flex;
  justify-content:center;
}
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer p {
  font-size: 1re;
  color: gray;
}
.social-media-and-author {
  display: flex;
  flex-direction: column;
}